{% extends 'greetings/base.html' %}
{% load static %}

{% block title %}Numbers | Learning Swahili{% endblock %}


{% block content %}

 <!-- Body starts here -->
    <header id="header" class="header">
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Welcome! Here, you’ll learn Swahili numbers, 
                        an essential skill for talking about time, counting, and expressing quantities.</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th>English</th>
                              <th>Swahili</th>
                              <th>Pronounciation</th>
                            </tr>
                            </thead>
                            <tbody>
                       
                            <tr>
                              <td>One </td>
                              <td>Moja 
                              </td>
                              <td><audio controls>
                                <source src="{% static 'number/udios/moja.m4a' %}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio></td>                         
                            </tr>
                            <tr>
                                <td>Two </td>
                                <td>Mbili 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/mbili.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Three </td>
                                <td>Tatu 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/tatu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Four </td>
                                <td>Nne  </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/nne.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Five </td>
                                <td>Tano 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/tano.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Six </td>
                                <td>Sita </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/sita.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Seven </td>
                                <td>Saba </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/saba.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Eight </td>
                                <td>Nane 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/nane.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Nine </td>
                                <td>Tisa 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/tisa.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Ten </td>
                                <td>Kumi </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/kumi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                           
                            <tr>
                                <td> Twenty </td>
                                <td>Ishirini </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/20.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Thirty </td>
                                <td>Thelathini </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/30.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Forty </td>
                                <td>Arobaini  </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/40.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Fifty </td>
                                <td>Hamsini 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/50.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Sixty </td>
                                <td>Sitini  </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/60.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Seventy </td>
                                <td>Sabini  </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/70.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Eighty </td>
                                <td>Themanini  </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/80.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Ninety </td>
                                <td>Tisini  </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/90.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> One hundred </td>
                                <td>Mia moja </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/100.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> One thousand </td>
                                <td>Elfu moja  </td>
                                <td><audio controls>
                                    <source src="{% static 'number/udios/1000.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>English</th>
                                <th>Swahili</th>
                                <th>Pronounciation</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
                 
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
     
    </header> 
<!-- Body Ends here -->

{% endblock %}