{% extends 'greetings/base.html' %}
{% load static %}

{% block title %}Adverbs | Learning Swahili{% endblock %}


{% block content %}
 <!-- Body starts here -->
    <header id="header" class="header">
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">DataTable with minimal features & hover style</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th>English</th>
                              <th>Swahili</th>
                              <th>Pronounciation</th>
                            </tr>
                            </thead>
                            <tbody>
                       
                            <tr>
                              <td>Big </td>
                              <td>Kubwa</td>
                              <td><audio controls>
                                <source src="{% static 'adjectives/audios/kubwa.m4a' %}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio> </td>                         
                            </tr>
                            <tr>
                                <td>Small </td>
                                <td>Ndogo </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/ndogo.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Good </td>
                                <td>Nzuri, 
                                    Vizuri
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/nzuri.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>,
                                missing</td>                           
                            </tr>
                            <tr>
                                <td>Bad </td>
                                <td>Mbaya</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mbaya.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Beautiful </td>
                                <td>Mzuri, 
                                    Mrembo 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mzuri.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>,
                                <audio controls>
                                    <source src="{% static 'adjectives/audios/mrembo.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Ugly </td>
                                <td>Mbaya </td>
                                <td> <audio controls>
                                    <source src="{% static 'adjectives/audios/mbaya.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Tall </td>
                                <td>Mrefu</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mrefu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Short </td>
                                <td>Mfupi</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mfupi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Happy </td>
                                <td>Furaha </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/furaha.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Piece </td>
                                <td>Salama   </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/salama.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Welcome </td>
                                <td>Karibu    </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/karibu..m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Fast </td>
                                <td>Haraka</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/haraka.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Slow </td>
                                <td>Polepole</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/haraka.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Clean </td>
                                <td>Safi</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/safi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Dirty </td>
                                <td>Chafu</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/chafu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Hot </td>
                                <td>Moto  </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/moto.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Cold </td>
                                <td>Baridi</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/baridi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Strong </td>
                                <td>Nguvu </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/nguvu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Weak </td>
                                <td>Dhaifu</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/dhaifu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Soft </td>
                                <td>Laini</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/laini.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Hard </td>
                                <td>Ngumu</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/ngumu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Expensive  </td>
                                <td>Ghali</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/ghali.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Cheap  </td>
                                <td>Rahisi</td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/rahisi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Young   </td>
                                <td>Mdogo </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mdogo.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Old   </td>
                                <td>Mzee (For a person),
                                    Kale (for objects)
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mzee.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>, <audio controls>
                                    <source src="{% static 'adjectives/audios/kale.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Light    </td>
                                <td>Nyepesi
                                </td>
                                <td> <audio controls>
                                    <source src="{% static 'adjectives/audios/nyepesi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Heavy </td>
                                <td>Nzito
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/nzito.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Smart  </td>
                                <td>Mwerevu
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mwerevu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Lazy   </td>
                                <td>Mvivu
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mvivu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Brave    </td>
                                <td>Shujaa
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/shujaa.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Afraid     </td>
                                <td>Mwoga
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'adjectives/audios/mwoga.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
    
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>English</th>
                                <th>Swahili</th>
                                <th>Pronounciation</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
                 
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
     
    </header> 
<!-- Body Ends here -->
{% endblock %}