{% extends 'greetings/base.html' %}
{% load static %}

{% block title %}Verbs | Learning Swahili{% endblock %}


{% block content %}

 <!-- Body starts here -->
    <header id="header" class="header">
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Welcome! Dive into Swahili verbs in this section to express actions,
                         making it easier to communicate what’s happening and describe events.</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th>English</th>
                              <th>Swahili</th>
                              <th>Pronounciation</th>
                            </tr>
                            </thead>
                            <tbody>
                       
                            <tr>
                              <td>Eat </td>
                              <td>Kula
                              </td>
                              <td><audio controls>
                                <source src="{% static 'verbs/audios/kula.m4a' %}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio></td>                         
                            </tr>
                            <tr>
                                <td>Drink </td>
                                <td>Kunywa
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/kunywa.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Speak </td>
                                <td>Zungumza
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/zungumza.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Walk </td>
                                <td>Tembea </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/tembea.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Run </td>
                                <td>Kimbia
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/kimbia.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Read </td>
                                <td>Soma</td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/soma.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Write </td>
                                <td>Andika</td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/andika.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            
                            <tr>
                                <td>Work </td>
                                <td>Fanya kazi
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/fanyakazi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> See </td>
                                <td>Ona</td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/ona.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Hear </td>
                                <td>Sikia</td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/sikia.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Come </td>
                                <td>Njoo</td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/njoo.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Go </td>
                                <td>Kwenda</td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/kwenda.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Live </td>
                                <td>Ishi</td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/ishi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Help </td>
                                <td>Saidia </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/saidia.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Buy </td>
                                <td>Nunua
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/nunua.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Sell </td>
                                <td>Uza </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/uza.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Teach </td>
                                <td>Fundisha </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/fundisha.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Learn </td>
                                <td>Jifunza </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/jifunza.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Love </td>
                                <td>Penda </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/penda.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Can </td>
                                <td>Weza </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/weza.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Want </td>
                                <td>Taka  </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/taka.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Need </td>
                                <td>Hitaji  </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/hitaji.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Must </td>
                                <td>Lazima  </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/lazima.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> To answer </td>
                                <td>Kujibu </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/jibu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Eat</td>
                                <td>Kula </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/jibu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Laugh</td>
                                <td>Cheka </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/cheka.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Die </td>
                                <td>Kufa</td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/kufa.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                           
                            <tr>
                                <td> Arrive </td>
                                <td>Fika
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/fika.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr> 
                            <tr>
                                <td>Rest</td>
                                <td>Pumzika 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/pumzika.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr> 
                            <tr>
                                <td>Sing</td>
                                <td>Imba 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/imba.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Dance/Play</td>
                                <td>Cheza 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/cheza.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Make</td>
                                <td>Tengeneza 
                                </td>
                                <td><audio controls>
                                    <source src="{% static 'verbs/audios/tengeneza.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>English</th>
                                <th>Swahili</th>
                                <th>Pronounciation</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
                 
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
     
    </header> 
<!-- Body Ends here -->

{% endblock %}