{% extends 'greetings/base.html' %}
{% load static %}

{% block title %}Nouns | Learning Swahili{% endblock %}


{% block content %}

 <!-- Body starts here -->
    <header id="header" class="header">
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Welcome! In this section, you’ll learn essential Swahili nouns,
                         building a strong foundation for everyday conversations and descriptions</h3>
                    </div>
                    
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                <th>English</th>
                                <th>Swahili</th>
                                <th>Pronounciation</th>
                                </tr>
                                </thead>
                                <tbody>
                        
                                <tr>
                                <td>Student</td>
                                <td>Mwanafunzi (Singular)
                                    Wanafunzi (Plural)</td>
                                <td><audio controls>
                                    <source src="{% static 'nouns/audios/mwanafunzi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>  <audio controls>
                                    <source src="{% static 'nouns/audios/wanafunzi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                         
                                </tr>
                                <tr>
                                    <td>Teacher</td>
                                    <td>Mwalimu (Singular)
                                        Walimu (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mwalimu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/walimu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>  </td>                           
                                </tr>
                                <tr>
                                    <td>Doctor</td>
                                    <td>Daktari (Singular)
                                        Madaktari (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/daktari.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/madaktari.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio> </td>                           
                                </tr>
                                <tr>
                                    <td>Friend</td>
                                    <td>Rafiki (Singular)
                                        Marafiki (Plural) </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/rafiki.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/marafiki.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio> </td>                           
                                </tr>
                                <tr>
                                    <td>Child/Baby</td>
                                    <td>Mtoto (Singular)
                                        Watoto (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mtoto.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/watoto.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td>Parent</td>
                                    <td>Mzazi (Singular) 
                                        Wazazi (Plural)  </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mzazi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/wazazi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td>Person</td>
                                    <td>Mtu (Singular)
                                        Watu (Plural)    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mtu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/watu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td>Neighbor</td>
                                    <td>Jirani (Singular)
                                        Majirani (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/jirani.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/majirani.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td>Guest</td>
                                    <td>Mgeni (Singular)
                                        Wageni (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mgeni.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/wageni.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    </td>                           
                                </tr>
                                <tr>
                                    <td> Father</td>
                                    <td>Baba   </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/baba.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                                        
                                </tr>
                                <tr>
                                    <td> Mother</td>
                                    <td>Mama</td>
                                    <td>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/mama.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Brother</td>
                                    <td>Kaka      </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/kaka.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Sister</td>
                                    <td>Dada </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/kaka.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td>Grandmother</td>
                                    <td>Bibi </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/bibi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Grandfather</td>
                                    <td>Babu </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/babu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td>Uncle</td>
                                    <td>Mjomba (Singular)
                                        Wajomba (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mjomba.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/wajomba.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Aunt</td>
                                    <td>Shangazi </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/shangazi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Cousin</td>
                                    <td>Binamu </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/binamu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Grandchild</td>
                                    <td>Mjukuu </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mjukuu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> School</td>
                                    <td>Shule </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/shule.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio></td>                           
                                </tr>
                                <tr>
                                    <td> House</td>
                                    <td>Nyumba </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/nyumba.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Market</td>
                                    <td>Soko  </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/soko.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Road</td>
                                    <td>Barabara  </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/barabara.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Hospital</td>
                                    <td>Hospitali  </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/hospitali.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Office</td>
                                    <td>Ofisi  </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/ofisi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Town/City</td>
                                    <td>Mji   </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mji.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                        </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Village</td>
                                    <td>Kijiji (Singular)
                                        Vijiji (Plural)  </td>
                                    <td><audio controls>
                                            <source src="{% static 'nouns/audios/kijiji.m4a' %}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                        <audio controls>
                                            <source src="{% static 'nouns/audios/vijiji.m4a' %}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                        </td>                           
                                </tr>
                                <tr>
                                    <td> Church</td>
                                    <td>Kanisa (Singular)
                                        Makanisa (Plural)  </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/kanisa.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/makanisa.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Airport</td>
                                    <td>Uwanja wa ndege</td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/airport.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Hand/Arm</td>
                                    <td>Mkono (Singular)
                                        Mikono (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mkono.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/mikono.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr> 
                                <tr>
                                    <td> Leg/Foot</td>
                                    <td>Mguu (Singular)
                                        Miguu (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mguu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/miguu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr> 
                                <tr>
                                    <td> Head</td>
                                    <td>Kichwa (Singular)
                                        Vichwa (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/kichwa.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/vichwa.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Eye</td>
                                    <td>Jicho  (Singular)
                                        Macho (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/jicho.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/macho.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Ear</td>
                                    <td>Sikio  (Singular)
                                        Masikio  (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/sikio.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/masikio.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Mouth</td>
                                    <td>Mdomo   (Singular)
                                        Midomo   (Plural)
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mdomo.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/midomo.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Nose</td>
                                    <td>Pua </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/pua.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                                    
                                <tr>
                                    <td> Book</td>
                                    <td>Kitabu  (Singular)
                                        Vitabu  (Plural) </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/kitabu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/vitabu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Pen</td>
                                    <td>Kalamu 
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/pen.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Phone</td>
                                    <td>Simu 
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/simu.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Table</td>
                                    <td>Meza 
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/meza.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Door</td>
                                    <td>Mlango (Singular)
                                        Milango (Plural) 
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mlango.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/milango.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Food</td>
                                    <td>Chakula (Singular)
                                        Vyakula (Plural) 
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/chakula.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/vyakula.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Water</td>
                                    <td>Maji 
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/maji.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Milk</td>
                                    <td>Maziwa  
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/maziwa.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Dog</td>
                                    <td>Mbwa   
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mbwa.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Cat</td>
                                    <td>Paka   
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/paka.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Lion</td>
                                    <td>Simba    
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/simba.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Elephant</td>
                                    <td>Tembo    
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/tembo.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Chicken</td>
                                    <td>Kuku     
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/kuku.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Sheep</td>
                                    <td>Kondoo     
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/kondoo.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Cow</td>
                                    <td>Ng’ombe     
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/ngombe.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Horse</td>
                                    <td>Farasi      
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/farasi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Snake</td>
                                    <td>Nyoka     
                                    </td>
                                    <td>audio</td>                           
                                </tr>
                                <tr>
                                    <td> Bird</td>
                                    <td>Ndege      
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/ndege.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Tree</td>
                                    <td>Mti      
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/ndege.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Sun</td>
                                    <td>Jua       
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/jua.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Moon</td>
                                    <td>Mwezi       
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mwezi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Star</td>
                                    <td>Nyota        
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/nyota.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Rain</td>
                                    <td>Mvua        
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mvua.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Ocean</td>
                                    <td>Bahari         
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/bahari.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Wind</td>
                                    <td>Upepo         
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/bahari.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Mountain</td>
                                    <td>Mlima          
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mlima.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Day</td>
                                    <td>Siku          
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/siku.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Night</td>
                                    <td>Usiku           
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/usiku.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Morning</td>
                                    <td>Asubuhi           
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/asubuhi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Afternoon</td>
                                    <td>Mchana            
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mchana.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Evening</td>
                                    <td>Jioni            
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/jioni.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Hour</td>
                                    <td>Saa             
                                    </td>
                                    <td>
                                    <audio controls>
                                        <source src="{% static 'nouns/audios/saa.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Minute</td>
                                    <td>Dakika             
                                    </td>
                                    <td>   <audio controls>
                                        <source src="{% static 'nouns/audios/dakika.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Week</td>
                                    <td>Wiki              
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/wiki.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Month</td>
                                    <td>Dakika             
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mwezi.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                <tr>
                                    <td> Year</td>
                                    <td>Mwaka              
                                    </td>
                                    <td><audio controls>
                                        <source src="{% static 'nouns/audios/mwaka.m4a' %}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio></td>                           
                                </tr>
                                

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>English</th>
                                    <th>Swahili</th>
                                    <th>Pronounciation</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                 
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
     
    </header> 
<!-- Body Ends here -->

{% endblock %}