{% extends 'greetings/base.html' %}
{% load static %}

{% block title %}Pronouns | Learning Swahili{% endblock %}


{% block content %}

 <!-- Body starts here -->
    <header id="header" class="header">
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Welcome! This section introduces you to Swahili pronouns,
                         helping you refer to people, places, and things accurately and naturally.</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th>English</th>
                              <th>Swahili</th>
                              <th>Pronounciation</th>
                            </tr>
                            </thead>
                            <tbody>
                       
                            <tr>
                              <td>I</td>
                              <td>Mimi</td>
                              <td><audio controls>
                                <source src="{% static 'pronouns/audios/mimi.m4a' %}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio></td>                         
                            </tr>
                            <tr>
                                <td>You (singular)</td>
                                <td>Wewe</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/wewe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>He/She</td>
                                <td>Yeye</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/yeye.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>We </td>
                                <td>Sisi</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/sisi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>You (plural)</td>
                                <td>Ninyi</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/ninyi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>They </td>
                                <td>Wao</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/wao.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>My </td>
                                <td>Yangu</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/yangu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Your (singular)</td>
                                <td>Yako</td>
                                <td>missing</td>                           
                            </tr>
                            <tr>
                                <td>His/Her</td>
                                <td>Yake</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/yake.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Our </td>
                                <td>Yetu</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/yetu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Your (plural)</td>
                                <td>Yenu</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/yenu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Their </td>
                                <td>Yao</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/yao.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> This </td>
                                <td>Hii (for near things), Huyu (for near people)</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/hii.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>,
                                <audio controls>
                                    <source src="{% static 'pronouns/audios/huyu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> That </td>
                                <td>Hiyo (for far things), Yule (for far people)</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/hiyo.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>,
                                <audio controls>
                                    <source src="{% static 'pronouns/audios/yule.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> These </td>
                                <td>Hizi (for near things), Hawa (for near people)</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/hizi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Those </td>
                                <td>Hizo (for far things), Wale (for far people)</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/hizo.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                                <audio controls>
                                    <source src="{% static 'pronouns/audios/wale.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Myself </td>
                                <td>Mimi mwenyewe</td>
                                <td> <audio controls>
                                    <source src="{% static 'pronouns/audios/mimi mwenyewe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Yourself (singular)</td>
                                <td>Wewe mwenyewe</td>
                                <td> <audio controls>
                                    <source src="{% static 'pronouns/audios/wewe mwenyewe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Himself/Herself</td>
                                <td>Yeye mwenyewe</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/yeye mwenyewe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Ourselves </td>
                                <td>Sisi wenyewe</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/sisi wenyewe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Yourselves (plural)</td>
                                <td>Ninyi wenyewe</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/ninyi wenyewe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Themselves </td>
                                <td>Wao wenyewe</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/wao wenyewe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Who?</td>
                                <td>Nani?</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/ninyi wenyewe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> What? </td>
                                <td>Nini?</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/nini.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Which?</td>
                                <td>Ipi? or Gani?</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/ipi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                                <audio controls>
                                    <source src="{% static 'pronouns/audios/gani.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Whose?</td>
                                <td>Ya nani?</td>
                                <td><audio controls>
                                    <source src="{% static 'pronouns/audios/yanani.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
    
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>English</th>
                                <th>Swahili</th>
                                <th>Pronounciation</th>
                                </tr>
                            </tfoot>
                          </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
                 
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
     
    </header> 
<!-- Body Ends here -->

{% endblock %}