
{% extends 'greetings/base.html' %}
{% load static %}

{% block title %}Adverbs | Learning Swahili{% endblock %}


{% block content %}
    <header id="header" class="header">
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Welcome! Here, you’ll explore Swahili adverbs to express how, when,
                         and where actions take place, enriching your sentences with detail.</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                              <th>English</th>
                              <th>Swahili</th>
                              <th>Pronounciation</th>
                            </tr>
                            </thead>
                            <tbody>
                       
                            <tr>
                              <td>Now</td>
                              <td>Sasa</td>
                              <td><audio controls>
                                <source src="{% static 'adverbs/audios/sasa.m4a' %}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio></td>                         
                            </tr>
                            <tr>
                                <td>Then </td>
                                <td>Halafu</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/halafu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Today </td>
                                <td>Leo  </td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/leo.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Tomorrow </td>
                                <td>Kesho</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/kesho.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Yesterday </td>
                                <td>Jana</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/jana.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Always </td>
                                <td>Kila wakati</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/kesho.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Never </td>
                                <td>Kamwe</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/kamwe.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Later </td>
                                <td>Baadaye</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/baadae.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Soon </td>
                                <td>Hivi karibuni</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/hivikaribuni.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Early </td>
                                <td>Mapema</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/mapema.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Late </td>
                                <td>Chelewa    </td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/chelewa.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Here </td>
                                <td>Hapa     </td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/hapa.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> There </td>
                                <td>Pale</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/pale.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Everywhere </td>
                                <td>Kila mahali</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/kilawakati.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Somewhere </td>
                                <td>Mahali fulani </td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/mahalifulani.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Inside </td>
                                <td>Ndani</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/ndani.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Outside </td>
                                <td>Nje</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/nje.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Far </td>
                                <td>Mbali</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/mbali.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Near </td>
                                <td>Karibu</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/karibu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Quickly </td>
                                <td>Haraka</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/haraka.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Slowly </td>
                                <td>Polepole</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/polepole.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Badly  </td>
                                <td>Vibaya</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/vibaya.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Easily  </td>
                                <td>Kwa urahisi</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/kwaurahisi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Always   </td>
                                <td>Kila wakati</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/kila wakati.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Often </td>
                                <td>Mara nyingi</td>
                                <td><audio controls>
                                    <source src="{% static 'adverbs/audios/mara nyingi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            
    
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>English</th>
                                <th>Swahili</th>
                                <th>Pronounciation</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
                 
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
     
    </header> 
<!-- Body Ends here -->

{% endblock %}