
{% extends 'greetings/base.html' %}
{% load static %}

{% block title %}Conjuctions | Learning Swahili{% endblock %}


{% block content %}

 <!-- Body starts here -->
    <header id="header" class="header">
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Welcome! In this section, you’ll learn Swahili conjunctions to help you link
                         ideas smoothly and structure your sentences effectively.</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="table" class="responsive-table" >
                            <thead>
                            <tr>
                              <th>English</th>
                              <th>Swahili</th>
                              <th>Pronounciation</th>
                            </tr>
                            </thead>
                            <tbody>
                       
                            <tr>
                              <td>And </td>
                              <td>Na</td>
                              <td><audio controls>
                                <source src="{% static 'conjuctions/audios/na.m4a' %}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio> </td>                         
                            </tr>
                            <tr>
                                <td>Or  </td>
                                <td> Au</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/au.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td>But </td>
                                <td>Lakini</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/au.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td>Nor  </td>
                                <td>Wala</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/wala.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td>So  </td>
                                <td>Hivyo</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/hivyo.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td>Because  </td>
                                <td>Kwa sababu</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/kwasababu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td>Although  </td>
                                <td>Ingawa</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/ingawa.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td>If </td>
                                <td>Kama</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/kama.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td>When  </td>
                                <td>Wakati</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/wakati.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td> Since  </td>
                                <td>Tangu</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/tangu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio> </td>                           
                            </tr>
                            <tr>
                                <td> Before  </td>
                                <td>Kabla     </td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/kabla.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Until  </td>
                                <td>Mpaka     </td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/mpaka.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> There </td>
                                <td>Pale</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/pale.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Everywhere </td>
                                <td>Kila mahali</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/kilamahali.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Somewhere </td>
                                <td>Mahali fulani </td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/mahali fulani.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Inside </td>
                                <td>Ndani</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/ndani.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Outside </td>
                                <td>Nje</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/nje.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Far </td>
                                <td>Mbali</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/mbali.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Near </td>
                                <td>Karibu</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/karibu.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Quickly </td>
                                <td>Haraka</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/haraka.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Slowly </td>
                                <td>Polepole</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/polepole.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Badly  </td>
                                <td>Vibaya</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/vibaya.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Easily  </td>
                                <td>Kwa urahisi</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/kwaurahisi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td> Always   </td>
                                <td>Kila wakati</td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/kila wakati.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                            <tr>
                                <td>Often </td>
                                <td>Mara nyingi </td>
                                <td><audio controls>
                                    <source src="{% static 'conjuctions/audios/mara nyingi.m4a' %}" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio></td>                           
                            </tr>
                          
    
                            </tbody>
                            <tfoot>
                           
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
      
                 
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </section>
     
    </header> 
<!-- Body Ends here -->


{% endblock %}